*.md         text    eol=lf
*.py         text    eol=lf
*.sh         text    eol=lf
*.txt        text    eol=lf
*.sqf        text    eol=lf
*.hpp        text    eol=lf
*.toml       text    eol=lf
*.cpp        text    eol=lf
*.fsm        text    eol=lf
$PBOPREFIX$* text    eol=lf

*.bat        text    eol=crlf

*.paa        binary
*.exe        binary
*.zip        binary
*.pbo        binary
